<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>智能+</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="http://cdn.binghai.site/o_1dgs7ajhcj951mqs14jv1jss1jbua.css"
    />
</head>
<body>
<div class="hui-wrap">
    <div class="hui-center-title" style="margin-top:22px;">
        <h1>智能+</h1>
    </div>
    <div class="hui-media-list" style="padding:10px;">
        <ul>
            <li>
                <div class="hui-media-list-img">
                    <img src="http://cdn.binghai.site/o_1dhth96t9d2k102j1g421dqd14jea.jpg"/>
                </div>
                <a href="/switch/list">
                    <div class="hui-media-content">
                        <h1>&nbsp;&nbsp;智能控电板</h1>
                    </div>
                </a>
            </li>
            <li>
                <div class="hui-media-list-img">
                    <img src="http://cdn.binghai.site/o_1dhthbadvv7cdkn9frm318e6a.jpg"/>
                </div>
                <a href="/nature/home">
                    <div class="hui-media-content">
                        <h1>&nbsp;&nbsp;智慧生活+</h1>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>

<script
        src="http://cdn.binghai.site/o_1dgs7bib718t019qjq7jpv11o4ea.js"
        type="text/javascript"
        charset="utf-8"
></script>
</body>
</html>
