<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title>开发中</title>
    <link
            rel="stylesheet"
            type="text/css"
            href="http://cdn.binghai.site/o_1dgs7ajhcj951mqs14jv1jss1jbua.css"
    />
</head>
<body>

<script
        src="http://cdn.binghai.site/o_1dgs7bib718t019qjq7jpv11o4ea.js"
        type="text/javascript"
        charset="utf-8"
></script>
</body>
</html>
